* {
    margin: 0;
    padding: 0;
}
.Div {
    display: block;
    position: relative;
    width: 100%;
    height: 700px;
}
.member {
    display: block;
    position: relative;
    float: left;
    width: 40%;
    height: 45%;
    margin: 10px 4%;
    border: 1px solid black;
    background: rgba(138, 138, 138, 0.384);
    border-radius: 10px;
}

.img {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    height: 120px;
    background: url(../../image/MemberFile/im.jpg) center center;
    border-radius: 60px;
    border: 1px solid black;
}

.name {
    display: block;
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    height: 80px;
    line-height: 50px;
    font-size: 46px;
    font-variant: initial;
    color: white;
    transition: all 0.5s;
}
.text {
    display: block;
    position: absolute;
    padding: 20px;
    font-size: 16px;
    color: black;
    top: 140px;
    right: 20px;
    width: 65%;
    height: 120px;
    transition: ease all 0.5s;
}
.member:hover .name {
    right: 100px;
    color: black;
    transition: ease all 0.5s;
}
.member:hover .text {
    right: 30px;
    transition: ease all 0.5s;
}

